<!-- ./views/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Oops! <%= (errorMessage)%>.</h1>
        <p>We're sorry, but it seems that an error has occurred.</p>
        <p>Please try again later or contact support if the problem persists.</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>
</html>