<!-- ./views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/footer.css">
</head>

<body>
    <%- include('./partials/nav') %>
        <header class="header">
            <% if (locals.user) { %>
                <p>
                    <%= user.name.split(" ")[0].toUpperCase()%></p>
                <% } %>
            <h1 class=" heading">Welcome to the Unique Vote</h1>
        </header>
        <section class="about-section">
            <!-- Render content for non-voters -->
            <img src="https://caltechsites-prod.s3.amazonaws.com/scienceexchange/images/Caltech-Voting-Phone-Online-S.2e16d0ba.fill-933x525-c100.jpg" alt="Reload" srcset="">
        </section>
        <main class="main">
            <% if (locals.user) { %>
                <section class="create-poll">
                    <div class="button-container">
                        <%if(locals.user.role==='voter' ){%>
                            <form action="/user/getdata" method="get">
                                <button type="submit">Get Data</button>
                            </form>
                            <%if(locals.user.isVoted==false) {%>
                                <form action="/user/vote" method="get">
                                    <button type="submit">Vote</button>
                                </form>
                                <%}%>
                                    <%}%>
                                        <form action="/logout" method="get">
                                            <button type="submit">Logout</button>
                                        </form>
                                        <% if(locals.user.role==='admin' ){%>
                                            <form action="/admin/createcandidate" method="get">
                                                <button type="submit">Create Candidate</button>
                                            </form>
                                            <form action="/admin/deletecandidate" method="get">
                                                <button type="submit">Delete Candidate</button>
                                            </form>
                                            <% } %>
                    </div>
                </section>
                <% } else { %>
                    <section class="create-poll">
                        <h2>Login or Signup</h2>
                        <div class="button-container">
                            <form action="/user/getdata" method="get">
                                <button type="submit">Get Data</button>
                            </form>
                            <form action="/user/login" method="get">
                                <button type="submit">Login</button>
                            </form>
                            <form action="/user/signup" method="get">
                                <button type="submit">Signup</button>
                            </form>
                        </div>
                    </section>
                    <% } %>


        </main>
        <%- include('./partials/footer') %>
</body>

</html>